*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.video {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  
}

.content {
  display: grid;
  grid-template-columns: 711px 419px;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-end;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  height: 386px;
  margin: 0 0 11px;              /* отступ нижний оставить, рекомендация проекта */
  border: 1px solid yellow;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 40px;
  
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;

}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;

  border: 1px solid red;
}












.search-form__label:focus {
  border: none;  
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
  margin-right: 20px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__textfield {
  appearance: none;
  border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  padding: 2px 0;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  min-width: 225px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.search-form__textfield:active {
  outline: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #FFF;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

.button {
  border: 1px solid #FFF;
  padding: 6px 0;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px #FFF;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-items: flex-end;
}
 
.more-button {
  margin-bottom: 8px;
}






.title {
  padding: 0 0 30px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}















.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow: auto;
  border: 1px solid white;
}

.content__list-item:not(:last-child) {
  margin: 0 0 34px;
}

.content__details {
  display: flex;
  flex-direction: column;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;   
  justify-content: space-between;
}

.content__video-card-title {
  padding: 2px 2px 5px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  hyphens: auto;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description-container {
    padding: 0 2px;
    color: #FFF;
    font-weight: 400;
    line-height: 16.2px;
}
  
  .content__video-card-thumbnail {
    inline-size: 194px;
    block-size: 103px;
    object-fit: cover;
    object-position: center;
}

  .content__video-card-description {
    padding: 0 2px;
    color: #FFF;
    font-weight: 400;
    line-height: 16.2px;
}